*   {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(./img/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%; 
}
.wrapper-block  {
    width: 350px;
    height: 350px;
    margin: 200px auto;
    background-color: #fff;
    border-radius: 10px;
}
.container  {
    width: 80%;
    margin: 0 auto;
}
.country-block   {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding-top: 30px;
    font-size: 30px;
    color: rgb(71, 71, 212);
}
.the-frankfurt-country::after  {
    content: '';
    position: absolute;
    display: flex;
    width: 25px;
    height: 3px;
    background-color: rgb(71, 71, 212);
    top: 70%;
    left: 120px;
}
.data-block {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 10px;
}
p{
    color: #555;
    font-size: 15px;
    font-weight: normal;
}
.block1-for-data1   {
    font-size: 20px;
    font-weight: 700;
}
.fotter-block   {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.name-list  {
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
}
.rasm-block img{
    width: 130px;
    margin-top: 10px;
}

